*{
    box-sizing: border-box;
}
body{
    font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Tungsten A', 'Tungsten B', 'Tungsten', 'Arial Narrow', sans-serif;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas:
   "header " 
   "section "
   "footer ";
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    font-size: 18px;
    height: auto;
}
header{
    display: flex;
    justify-content: center;
    background-color: rgb(90, 136, 69);
    color: white;
}
nav{
background-image: url(images/Little-Green-Book-image-2-1.webp);
height: 100vh;
 margin-bottom: 4%;
}
.navbar{
    color: white;
}
.home p{
    margin-left: 4%;
    text-transform: uppercase;
    font-weight: 900;

}

.home{
    display: flex;

 }
.home >ul{
    list-style: none;
    display: flex;
    gap: 1cm;
    margin-left: 32%;
}
.about-rasi{
    justify-items: center;
   margin-top: 18%;
   font-size: 0.3in;
}
#screen{
    display: flex;
    justify-content: center;
    padding: 1%;
}
.rich-heritage{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
    justify-content: space-around;
}
.rich-heritage img{
    width: 40%;
}
.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    background-color: rgb(192, 229, 217);
   height: 4%;
}
.techniques{
    margin-top: 7%;
}
.techniques h2{
    display: flex;
    justify-content: center;
}
.techniques h2 +p{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.printing-techniques{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
.client-praise h2{
    display: flex;
   justify-content: center;
}
.client-praise h2 +p{
    display: flex;
   justify-content: center;
}
.industries{
display: flex;
justify-content: space-around;
margin-top: 5%;
margin-bottom: 7%;
}
.aditya, .arvind, .raymond-mills{
    background-color: rgb(236, 236, 218);
   width: 25%;
   height: 113%;
   padding-left: 8%;
}
.stars{
    margin-top: 2%;
    color: greenyellow;
}
.print-time{
    display: flex;
    justify-content: space-around;
}
.logos {
 
}
.logos{
    margin-top: 7%;
    margin-bottom: 7%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
}
.image{
    width: 40%;
 
}
.explore{
    margin-left: 5%;
}
.explore h2{
    display: flex;
    justify-content: center;
}
.explore h2 +p{
    display: flex;
    justify-content: center;
}
.images{
    margin-top: 3%;
    width: 150%;
}
#dresses-image{
    width: 18%;
    height: 81vh;
}
#dresses-image +img{
    width: 20%;
}
#dresses-image +img +img{
    width: 21.5%;
    height: 81vh;

}
#scarf-image{
    width: 90%;
    height: 85vh;
}
.reach-out h2{
    display: flex;
    justify-content: center;
}
.reach-out{
    margin-top: 5%;
}
.reach-out h2 +p{
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    line-height: 0.7cm;
}
.footer img{
    width: 12%;
    height: 20vh;
    margin-left: 6%;
    border-radius: 20%;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.copyright{
    display: flex;
    justify-content: center;
}
footer ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.map{
    position: relative;
    margin-top: 4%;
}
#map{
    width: 100%;
    height: 100vh;
    margin-bottom: 7%;
}
.contact{
    position: absolute;
    background-color: aliceblue;
    top: 30%;
    left: 20%;
    line-height: 1cm;
    padding: 5%;
}
button{
    padding: 15px 23px;
}
hr{
    height: 3px;
    background-color: black;
    opacity: 1;
 
}
.quality, .warranty,.artistry,.shipping{
    display: flex;
}
.quality img{
    width: 15%;
}
.warranty img{
    width: 15%;
}
.shipping img{
    width: 15%;
}
.artistry img{
    width: 15%;
}
@media screen and (max-width: 767px){
    .header{ grid-area: 1/6;}
    .section{ grid-area: 1/6;}
    .footer{ grid-area: 1/6;}
 
body{
display: grid;
grid-template-columns: 1fr;
overflow-x: scroll;

}
#showcase-img{
    height: 81vh;
}

};
@media screen and(min-width:767px)and (max-width:1023px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: scroll;
        } 
}

    





